<configuration>
    <!--
        Logging configuration in tests must have filename logback-test.xml (not logback.xml)
        LIST appender must be declared inside both <root> and the relevant ("sanity-check") <logger>
    -->

    <appender name="LIST" class="ch.qos.logback.core.read.ListAppender"/>

    <!-- Silence chatty libraries -->
    <logger name="smile.util" level="WARN"/>
    <logger name="ch.qos.logback" level="OFF"/>

    <!-- Debug information about duplicate or missing tokens -->
    <!-- DEBUG to write, WARN to ignore-->
    <logger name="sanity-check" level="DEBUG">
        <appender-ref ref="LIST" />
    </logger>

    <!-- Root logger configuration -->
    <root level="DEBUG">
        <appender-ref ref="LIST" />
    </root>
</configuration>
